mixin renderdir(dir, prefix)
  if dir._contents
    ul
      for file in dir._contents
        if file.match(/\.html$/)
          li: a(href=prefix+file, target='_blank')= file
  ul
    for obj, dirname in dir
      if dirname != 'build' && dirname != 'vendor' && !dirname.match(/^_/) 
        li: h2= '/'+dirname
        +renderdir(obj, prefix+dirname+'/')

h1 Страницы:
+renderdir(public, '/')
